<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FreelancerHireWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Admin_servlet</display-name>
    <servlet-name>Admin_servlet</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.Admin_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_servlet</servlet-name>
    <url-pattern>/Admin_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_registration_servlet</display-name>
    <servlet-name>User_registration_servlet</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.User_registration_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_registration_servlet</servlet-name>
    <url-pattern>/User_registration_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Project_servlet</display-name>
    <servlet-name>Project_servlet</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.Project_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project_servlet</servlet-name>
    <url-pattern>/Project_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Project_servlet2</display-name>
    <servlet-name>Project_servlet2</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.Project_servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project_servlet2</servlet-name>
    <url-pattern>/Project_servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDetails</display-name>
    <servlet-name>ProjectDetails</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.ProjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDetails</servlet-name>
    <url-pattern>/ProjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDetails_DAO</display-name>
    <servlet-name>ProjectDetails_DAO</servlet-name>
    <servlet-class>com.cognizant.freelancer.dao.ProjectDetails_DAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDetails_DAO</servlet-name>
    <url-pattern>/ProjectDetails_DAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDetails_servlet</display-name>
    <servlet-name>ProjectDetails_servlet</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.ProjectDetails_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDetails_servlet</servlet-name>
    <url-pattern>/ProjectDetails_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDetails_servlet2</display-name>
    <servlet-name>ProjectDetails_servlet2</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.ProjectDetails_servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDetails_servlet2</servlet-name>
    <url-pattern>/ProjectDetails_servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDetails_servlet3</display-name>
    <servlet-name>ProjectDetails_servlet3</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.ProjectDetails_servlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDetails_servlet3</servlet-name>
    <url-pattern>/ProjectDetails_servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Skill_Details</display-name>
    <servlet-name>Skill_Details</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.Skill_Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Skill_Details</servlet-name>
    <url-pattern>/Skill_Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Skill_Details_servlet</display-name>
    <servlet-name>Skill_Details_servlet</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.Skill_Details_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Skill_Details_servlet</servlet-name>
    <url-pattern>/Skill_Details_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalisedInfo</display-name>
    <servlet-name>FinalisedInfo</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.FinalisedInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalisedInfo</servlet-name>
    <url-pattern>/FinalisedInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalisedInfo_servlet</display-name>
    <servlet-name>FinalisedInfo_servlet</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.FinalisedInfo_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalisedInfo_servlet</servlet-name>
    <url-pattern>/FinalisedInfo_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>See_Notification_servlet</display-name>
    <servlet-name>See_Notification_servlet</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.See_Notification_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>See_Notification_servlet</servlet-name>
    <url-pattern>/See_Notification_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userviewproject_servlet</display-name>
    <servlet-name>userviewproject_servlet</servlet-name>
    <servlet-class>com.cognizant.freelancer.controller.userviewproject_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userviewproject_servlet</servlet-name>
    <url-pattern>/userviewproject_servlet</url-pattern>
  </servlet-mapping>
</web-app>